<%@comments = Comment.where(contribution_id: current_contribution.id).order(created_at: :desc) %>

<% @comments.each.with_index do |comment, index| %>
    <div class="comment">
      <div class="comment-title">
        <%= comment.user.email %>
        <% from_time = Time.now %>
        <% to_time = comment.created_at %>
        <% time_passed = distance_of_time_in_words(from_time, to_time) %>
        <p> (<%= time_passed %> ago)  </p>
      </div>
      <br>
      <div class="comment-text">
        <%= comment.text%> 
      </div>
    </div> 
<% end %>