<% @comment = Comment.new %>
<%= form_with(model: @comment, url: create_comment_comments_path( user_signed_in? ? current_user.token : 0)) do |form| %>

  <div class="field">
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.text_field :contribution_id, value: @contribution.id, type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit :"add comment" %>
  </div>
<% end %>