<table border = "0">
    <tr>
        <td valign="top"> user:</td> 
        <td><%= @user.user_name %></td> 
        
    </tr>
    <tr>
        <td valign="top">created:</td>
        <td><%= @user.created_at.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
        <td valign="top">karma:</td>
        <td>11231</td>
    </tr>
    <tr>
        <td valign="top">about:</td>
    </tr>
</table>

<%= render 'form', user: @user %>





