<table border = "0">
    <tr>
        <td class='c-gray' valign="top"> user:</td> 
        <td class='c-gray' ><%= @user.user_name %></td> 
        
    </tr>
    <tr>
        <td class='c-gray' valign="top">created:</td>
        <td><%= @user.created_at.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
        <td class='c-gray' valign="top">karma:</td>
        <td class='c-gray' > <%= @user.karma %></td>
    </tr>
    <tr>
        <td class='c-gray' valign="top">about:</td>
        <td class='c-gray' > <%= @user.about %></td>
    </tr>
</table>