<div class="nav-bar-container">
    <% if request.original_url == "http://localhost:3000/contributions/new" %>
       <ul class="nav-bar">
           <li class="navbar-item" style="font-weight:bold;">Submit</li>
       </ul> 
    <% else %>
        <ul class="nav-bar">
            <li class="navbar-item">
                <%= link_to "Haker News", contributions_url %>
            </li>
            <li class="navbar-item">welcome</li>
            <li class="navbar-item">new</li>
            <li class="navbar-item">threads</li>
            <li class="navbar-item">past</li>
            <li class="navbar-item">comments</li>
            <li class="navbar-item">ask</li>
            <li class="navbar-item">show</li>
            <li class="navbar-item">jobs</li>
            <li class="navbar-item">
                <%= link_to "submit", new_contribution_url %>
            </li>
        </ul>
        <ul class="nav-bar-auth">
            <% if user_signed_in? %>
                <li class="navbar-item"><%= current_user.email %></li>
                <li class="navbar-item">Log Out</li>
            <% else %>
                <li class="navbar-item">Log In</li>
            <% end %>
        </ul>
    <% end %>
</div>