.container{
    padding: 0em 8em 0em 8em;
}
.content{
    background-color: #f6f6ef;
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    background-color: #ff6600;
}
.nav-bar,
.nav-bar-auth{
    display:flex;
    flex-direction:row;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    list-style: none;
    
}

.nav-bar :first-child,
.nav-bar-auth :first-child,
.nav-bar-auth :nth-child(2),
.nav-bar :nth-child(2){
    border-left:none;
}

.nav-bar :nth-child(2) a{
    font-size:14px;
    font-weight:bold;
}

.navbar-item{
    display:flex;
    align-items: center;
    font-size: 12px;
    border-left: 1px solid black;
    margin: 5px;
    padding-left: 5px;
}

.navbar-item a {
    color: black;
    text-decoration: none;
}

.navbar-item a img {
    border:1px solid white !important;
    
}

