// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment{
    color: #afafaf;
}

.email_comment{
    background-color: #ffffaa;
    color: #afafaf;
}

.current_username {
    color: #98c598;
}

.link {
    text-decoration: underline;
}