// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.c-gray{
    color: gray;
}

.help{
    color: #afafaf;
}

.current_username {
    color: #3c963c
}